@import "tailwindcss";

@variant dark (&:is(.dark *));

@layer base {
  :root {
    --background: #FAFAFA;
    --foreground: #494C6B;
    --muted-foreground: #D1D2DA;
  }

  .dark {
    --background: #171823;
    --foreground: #C8CBE7;
    --muted-foreground: #4D5067;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
  }
}

@media (prefers-color-scheme: dark) {
  :root:not(.light) {
    --background: #171823;
    --foreground: #C8CBE7;
    --muted-foreground: #4D5067;
  }
}

@layer utilities {
  .bg-background {
    background-color: var(--background);
  }

  .text-foreground {
    color: var(--foreground);
  }

  .text-muted-foreground {
    color: var(--muted-foreground);
  }
}